.nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 4rem;

  @include respond(phone) {
    margin: 2rem;
  }

  &__logo {
    height: 4rem;
  }

  &__links {
    justify-self: center;
    display: flex;
  }

  &__item {
    list-style: none;
    font-family: 'Raleway', sans-serif;
    font-size: 1.7rem;
    padding: 1rem 3rem;

    @include respond(phone) {
      padding: 1rem 1.5rem;
    }
  }

  &__link,
  &__link:link,
  &__link:visited {
    color: $white-neutral;
    text-decoration: none;

    @include respond(phone) {
      padding: 1rem;
    }
  }

  &__link:hover &__item {
    border-bottom: solid 1px #fff;
  }
}
